In [10]:
import pandas as pd

In [11]:
# upload data
df = pd.read_csv('D:\\Minda\\School\\University\\3 rd Year (2022-\\4 - Fall 2023 Semester\\MGTC28H3 - LEC 01\\Group Project - Nov 28\\data\\analysis\\climate-daily.csv')

In [12]:
df

,x,y,SPEED_MAX_GUST_FLAG,LOCAL_DATE,LOCAL_YEAR,HEATING_DEGREE_DAYS_FLAG,TOTAL_PRECIPITATION,SNOW_ON_GROUND,DIRECTION_MAX_GUST,MIN_REL_HUMIDITY_FLAG,...,SPEED_MAX_GUST,MIN_REL_HUMIDITY,TOTAL_PRECIPITATION_FLAG,MAX_REL_HUMIDITY,STATION_NAME,TOTAL_SNOW,COOLING_DEGREE_DAYS,TOTAL_SNOW_FLAG,TOTAL_RAIN,MEAN_TEMPERATURE_FLAG
0,-79.4,43.666667,M,2002-06-04 00:00:00,2002,NaN,4.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
1,-79.4,43.666667,M,2002-06-05 00:00:00,2002,NaN,3.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
2,-79.4,43.666667,M,2002-06-06 00:00:00,2002,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
3,-79.4,43.666667,M,2002-06-07 00:00:00,2002,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
4,-79.4,43.666667,M,2002-06-08 00:00:00,2002,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.3,M,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7837,-79.4,43.666667,M,2023-11-21 00:00:00,2023,NaN,16.6,NaN,NaN,NaN,...,NaN,58.0,NaN,95.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7838,-79.4,43.666667,M,2023-11-22 00:00:00,2023,NaN,2.8,1.0,NaN,NaN,...,NaN,70.0,NaN,95.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7839,-79.4,43.666667,M,2023-11-23 00:00:00,2023,NaN,0.0,NaN,NaN,NaN,...,NaN,54.0,NaN,78.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7840,-79.4,43.666667,M,2023-11-24 00:00:00,2023,NaN,0.0,NaN,NaN,NaN,...,NaN,49.0,NaN,69.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7841,-79.4,43.666667,M,2023-11-25 00:00:00,2023,NaN,0.0,NaN,NaN,NaN,...,NaN,53.0,NaN,72.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN

In [13]:
df_clean = df

In [14]:
# set 'LOCAL_DATE' to match the format of the dates in 'All Merged.csv'
df_clean['LOCAL_DATE'] = pd.to_datetime(df["LOCAL_DATE"].astype(str))

In [15]:
df_clean

,x,y,SPEED_MAX_GUST_FLAG,LOCAL_DATE,LOCAL_YEAR,HEATING_DEGREE_DAYS_FLAG,TOTAL_PRECIPITATION,SNOW_ON_GROUND,DIRECTION_MAX_GUST,MIN_REL_HUMIDITY_FLAG,...,SPEED_MAX_GUST,MIN_REL_HUMIDITY,TOTAL_PRECIPITATION_FLAG,MAX_REL_HUMIDITY,STATION_NAME,TOTAL_SNOW,COOLING_DEGREE_DAYS,TOTAL_SNOW_FLAG,TOTAL_RAIN,MEAN_TEMPERATURE_FLAG
0,-79.4,43.666667,M,2002-06-04,2002,NaN,4.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
1,-79.4,43.666667,M,2002-06-05,2002,NaN,3.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
2,-79.4,43.666667,M,2002-06-06,2002,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
3,-79.4,43.666667,M,2002-06-07,2002,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.0,M,NaN,NaN
4,-79.4,43.666667,M,2002-06-08,2002,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TORONTO CITY,NaN,0.3,M,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7837,-79.4,43.666667,M,2023-11-21,2023,NaN,16.6,NaN,NaN,NaN,...,NaN,58.0,NaN,95.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7838,-79.4,43.666667,M,2023-11-22,2023,NaN,2.8,1.0,NaN,NaN,...,NaN,70.0,NaN,95.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7839,-79.4,43.666667,M,2023-11-23,2023,NaN,0.0,NaN,NaN,NaN,...,NaN,54.0,NaN,78.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7840,-79.4,43.666667,M,2023-11-24,2023,NaN,0.0,NaN,NaN,NaN,...,NaN,49.0,NaN,69.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN
7841,-79.4,43.666667,M,2023-11-25,2023,NaN,0.0,NaN,NaN,NaN,...,NaN,53.0,NaN,72.0,TORONTO CITY,NaN,0.0,NaN,NaN,NaN

In [16]:
# save to computer -- import to Tableau for graphing
df_clean.to_csv('D:\\Minda\\School\\University\\3 rd Year (2022-\\4 - Fall 2023 Semester\\MGTC28H3 - LEC 01\\Group Project - Nov 28\\data\\analysis\\Climate Data.csv', index=False)