In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\anime\\Desktop\\Kenvue_Final\\kenvue_data\\Total Ecomm POS (Factory $) - UTSC Lecture.csv')

In [3]:
df

,Unnamed: 0,Unnamed: 1,Fiscal Week,Fiscal Week.1,Fiscal Week.2,Fiscal Week.3,Fiscal Week.4,Fiscal Week.5,Fiscal Week.6,Fiscal Week.7,...,Fiscal Week.42,Fiscal Week.43,Fiscal Week.44,Fiscal Week.45,Fiscal Week.46,Fiscal Week.47,Fiscal Week.48,Fiscal Week.49,Fiscal Week.50,Fiscal Week.51
0,Need State,Fiscal Year,1.00,2.00,3.00,4.00,5.00,6.00,7.00,8.00,...,43.00,44.00,45.00,46.00,47.00,48.00,49.00,50.00,51.00,52.00
1,Need State 1,2021,3684.75,3426.75,4221.75,2959.50,3402.75,3440.25,2619.00,3240.75,...,2651.25,2442.75,2108.25,2079.75,2442.75,3016.50,2412.00,2110.50,2878.50,2358.75
2,Need State 1,2022,3441.75,3657.00,3806.25,3765.75,3984.00,2999.25,3231.75,2896.50,...,2754.00,2427.75,2514.75,2583.00,2163.00,3263.25,4025.25,2246.25,1896.00,2421.00
3,Need State 1,2023,2901.75,2919.75,2760.75,2525.25,3274.50,2631.00,2621.25,2297.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Need State 2,2021,11283.00,12698.25,18210.00,12725.25,19290.75,12869.25,14770.50,13758.00,...,9129.75,7565.25,7682.25,9483.75,12681.00,14578.50,8278.50,9657.00,8244.75,7518.00
5,Need State 2,2022,8566.50,11636.25,9718.50,9857.25,12634.50,8575.50,7626.00,6586.50,...,8856.00,6453.75,7784.25,9892.50,10252.50,16174.50,17265.00,11385.00,8076.00,14489.25
6,Need State 2,2023,7915.50,7142.25,7864.50,8031.00,14619.75,11294.25,6878.25,7881.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,Need State 3,2021,11958.75,11279.25,9659.25,11369.25,8376.00,9748.50,7694.25,12636.00,...,4853.25,6712.50,5549.25,6735.75,7647.00,13239.00,5052.75,5668.50,6709.50,6012.00
8,Need State 3,2022,8359.50,7750.50,6705.00,8472.00,8309.25,5844.75,5243.25,7948.50,...,6195.00,5993.25,4446.75,7068.75,5205.00,12023.25,11451.00,7677.75,4029.00,9322.50
9,Need State 3,2023,5179.50,8040.00,5007.75,5653.50,6666.75,6546.75,5243.25,7605.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,Need State 4,2021,14755.50,16803.00,16849.50,14108.25,20616.00,13823.25,13392.75,14490.00,...,10680.00,9960.75,8895.00,10631.25,9816.75,10827.00,10139.25,10624.50,10371.75,8635.50
11,Need State 4,2022,11095.50,17230.50,13074.75,11168.25,19377.00,10166.25,10544.25,9573.75,...,7854.00,8457.75,7491.00,9054.75,8586.00,10875.00,11812.50,10074.75,7985.25,6142.50
12,Need State 4,2023,6963.00,8859.75,8436.00,7923.75,17929.50,9504.75,8709.00,7854.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,Need State 5,2021,448.50,285.75,276.00,237.75,433.50,233.25,370.50,315.75,...,270.75,264.75,219.75,252.75,406.50,647.25,277.50,230.25,187.50,382.50
14,Need State 5,2022,471.00,537.00,411.75,540.75,601.50,541.50,758.25,493.50,...,678.75,683.25,526.50,738.75,636.75,1434.00,1345.50,717.00,498.00,795.75
15,Need State 5,2023,1221.00,937.50,875.25,1019.25,1093.50,2187.00,4014.75,2139.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
16,Need State 6,2021,6929.25,6226.50,7128.75,6423.75,6801.00,6545.25,5718.00,7878.00,...,7296.00,5988.75,5532.00,5456.25,6828.00,9346.50,6275.25,5706.00,6168.00,5531.25
17,Need State 6,2022,7405.50,9000.75,8354.25,8982.75,8905.50,6419.25,6573.00,6710.25,...,5978.25,5899.50,5176.50,5328.75,8055.00,8850.00,7952.25,7626.00,6060.75,5622.75
18,Need State 6,2023,6918.00,6349.50,5749.50,5434.50,12224.25,6025.50,6106.50,5668.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [4]:
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0)).reset_index(drop=True)
df.columns.name = None
df

,Need State,Fiscal Year,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,...,43.0,44.0,45.0,46.0,47.0,48.0,49.0,50.0,51.0,52.0
0,Need State 1,2021,3684.75,3426.75,4221.75,2959.50,3402.75,3440.25,2619.00,3240.75,...,2651.25,2442.75,2108.25,2079.75,2442.75,3016.50,2412.00,2110.50,2878.50,2358.75
1,Need State 1,2022,3441.75,3657.00,3806.25,3765.75,3984.00,2999.25,3231.75,2896.50,...,2754.00,2427.75,2514.75,2583.00,2163.00,3263.25,4025.25,2246.25,1896.00,2421.00
2,Need State 1,2023,2901.75,2919.75,2760.75,2525.25,3274.50,2631.00,2621.25,2297.25,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Need State 2,2021,11283.00,12698.25,18210.00,12725.25,19290.75,12869.25,14770.50,13758.00,...,9129.75,7565.25,7682.25,9483.75,12681.00,14578.50,8278.50,9657.00,8244.75,7518.00
4,Need State 2,2022,8566.50,11636.25,9718.50,9857.25,12634.50,8575.50,7626.00,6586.50,...,8856.00,6453.75,7784.25,9892.50,10252.50,16174.50,17265.00,11385.00,8076.00,14489.25
5,Need State 2,2023,7915.50,7142.25,7864.50,8031.00,14619.75,11294.25,6878.25,7881.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,Need State 3,2021,11958.75,11279.25,9659.25,11369.25,8376.00,9748.50,7694.25,12636.00,...,4853.25,6712.50,5549.25,6735.75,7647.00,13239.00,5052.75,5668.50,6709.50,6012.00
7,Need State 3,2022,8359.50,7750.50,6705.00,8472.00,8309.25,5844.75,5243.25,7948.50,...,6195.00,5993.25,4446.75,7068.75,5205.00,12023.25,11451.00,7677.75,4029.00,9322.50
8,Need State 3,2023,5179.50,8040.00,5007.75,5653.50,6666.75,6546.75,5243.25,7605.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Need State 4,2021,14755.50,16803.00,16849.50,14108.25,20616.00,13823.25,13392.75,14490.00,...,10680.00,9960.75,8895.00,10631.25,9816.75,10827.00,10139.25,10624.50,10371.75,8635.50
10,Need State 4,2022,11095.50,17230.50,13074.75,11168.25,19377.00,10166.25,10544.25,9573.75,...,7854.00,8457.75,7491.00,9054.75,8586.00,10875.00,11812.50,10074.75,7985.25,6142.50
11,Need State 4,2023,6963.00,8859.75,8436.00,7923.75,17929.50,9504.75,8709.00,7854.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,Need State 5,2021,448.50,285.75,276.00,237.75,433.50,233.25,370.50,315.75,...,270.75,264.75,219.75,252.75,406.50,647.25,277.50,230.25,187.50,382.50
13,Need State 5,2022,471.00,537.00,411.75,540.75,601.50,541.50,758.25,493.50,...,678.75,683.25,526.50,738.75,636.75,1434.00,1345.50,717.00,498.00,795.75
14,Need State 5,2023,1221.00,937.50,875.25,1019.25,1093.50,2187.00,4014.75,2139.75,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,Need State 6,2021,6929.25,6226.50,7128.75,6423.75,6801.00,6545.25,5718.00,7878.00,...,7296.00,5988.75,5532.00,5456.25,6828.00,9346.50,6275.25,5706.00,6168.00,5531.25
16,Need State 6,2022,7405.50,9000.75,8354.25,8982.75,8905.50,6419.25,6573.00,6710.25,...,5978.25,5899.50,5176.50,5328.75,8055.00,8850.00,7952.25,7626.00,6060.75,5622.75
17,Need State 6,2023,6918.00,6349.50,5749.50,5434.50,12224.25,6025.50,6106.50,5668.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [5]:
df2 = pd.melt(df, id_vars=["Need State", "Fiscal Year"], var_name="Fiscal Week", value_name="Ecomm POS")

In [6]:
df2

       Need State Fiscal Year Fiscal Week  Ecomm POS
0    Need State 1        2021         1.0    3684.75
1    Need State 1        2022         1.0    3441.75
2    Need State 1        2023         1.0    2901.75
3    Need State 2        2021         1.0   11283.00
4    Need State 2        2022         1.0    8566.50
..            ...         ...         ...        ...
931  Need State 5        2022        52.0     795.75
932  Need State 5        2023        52.0       0.00
933  Need State 6        2021        52.0    5531.25
934  Need State 6        2022        52.0    5622.75
935  Need State 6        2023        52.0       0.00

[936 rows x 4 columns]

In [7]:
df2['Fiscal Week'] = df2['Fiscal Week'].astype(int)
df2

       Need State Fiscal Year  Fiscal Week  Ecomm POS
0    Need State 1        2021            1    3684.75
1    Need State 1        2022            1    3441.75
2    Need State 1        2023            1    2901.75
3    Need State 2        2021            1   11283.00
4    Need State 2        2022            1    8566.50
..            ...         ...          ...        ...
931  Need State 5        2022           52     795.75
932  Need State 5        2023           52       0.00
933  Need State 6        2021           52    5531.25
934  Need State 6        2022           52    5622.75
935  Need State 6        2023           52       0.00

[936 rows x 4 columns]

In [8]:
df2['date'] = pd.to_datetime(df2["Fiscal Year"].astype(str) + "-" + df2["Fiscal Week"].astype(str) + "-1", format='%Y-%U-%w')

In [9]:
df2

       Need State Fiscal Year  Fiscal Week  Ecomm POS       date
0    Need State 1        2021            1    3684.75 2021-01-04
1    Need State 1        2022            1    3441.75 2022-01-03
2    Need State 1        2023            1    2901.75 2023-01-02
3    Need State 2        2021            1   11283.00 2021-01-04
4    Need State 2        2022            1    8566.50 2022-01-03
..            ...         ...          ...        ...        ...
931  Need State 5        2022           52     795.75 2022-12-26
932  Need State 5        2023           52       0.00 2023-12-25
933  Need State 6        2021           52    5531.25 2021-12-27
934  Need State 6        2022           52    5622.75 2022-12-26
935  Need State 6        2023           52       0.00 2023-12-25

[936 rows x 5 columns]