In [1]:
# This is an example of how I would clean and reorganize the data.  First, let's import the library 'Pandas'
import pandas as pd

In [2]:
# Loading the CSV data.  Noticed that I decleard row 0 and row 1 as header.  The data actually begins in row 2.
# By doing this, I created a multi index. See documentation: https://pandas.pydata.org/docs/user_guide/advanced.html
df = pd.read_csv('~/Desktop/kenvue_data/Customer DC Inventory - UTSC Lecture.csv', header=[0,1])

In [3]:
# Let's see what it looks like.  Noticed that there are 2 header rows.
df

   Fiscal Year  /  Fiscal Week Unnamed: 1_level_0        2021              \
                    Need State Unnamed: 1_level_1           1           2
0                 Need State 1          Dc Amount  1445929.50  1615275.00
1                 Need State 1  Store Amt On Hand  3667244.25  3622755.00
2                 Need State 2          Dc Amount  2405549.25  2256024.75
3                 Need State 2  Store Amt On Hand  2784957.75  2885244.00
4                 Need State 3          Dc Amount  1618319.25  1780801.50
5                 Need State 3  Store Amt On Hand  3838764.00  3921396.00
6                 Need State 4          Dc Amount  1271980.50  1625886.75
7                 Need State 4  Store Amt On Hand  1893348.00  1880787.75
8                 Need State 5          Dc Amount   601577.25   601776.75
9                 Need State 5  Store Amt On Hand  1055337.75  1049389.50
10                Need State 6          Dc Amount  1708055.25  2044693.50
11                Need State 6  Store Amt On Hand  2678521.50  2697240.00

                                                                            \
             3           4           5           6           7           8
0   1389862.50  1111251.00  1040040.75  1281405.00  1516268.25  1982263.50
1   3573918.75  3528955.50  3538705.50  3591575.25  3553807.50  3485017.50
2   2183392.50  2095967.25  2057765.25  1956306.00  1975357.50  1883883.00
3   2834505.00  2806603.50  2907480.75  2807937.75  2782643.25  2722957.50
4   1665248.25  1928427.00  2176682.25  1809162.75  1624469.25  1660566.75
5   3816876.75  3752643.75  3815256.00  3892614.00  3899664.75  3981648.75
6   1413519.00  1116680.25  1160288.25  1132392.00  1035630.00  1157476.50
7   1885237.50  1901020.50  1926643.50  1824061.50  1908308.25  1891306.50
8    670983.00   624003.00   602572.50   588169.50   706590.00   859293.75
9   1050538.50  1042530.00  1041183.75  1036358.25  1037391.00  1026291.00
10  1730494.50  1720944.00  1670751.00  1604854.50  1789930.50  1838221.50
11  2782791.75  2761587.75  2876609.25  2802006.75  2801581.50  2752755.75

    ... 2023
    ...   43 44 45 46 47 48 49 50 51 52
0   ...    0  0  0  0  0  0  0  0  0  0
1   ...    0  0  0  0  0  0  0  0  0  0
2   ...    0  0  0  0  0  0  0  0  0  0
3   ...    0  0  0  0  0  0  0  0  0  0
4   ...    0  0  0  0  0  0  0  0  0  0
5   ...    0  0  0  0  0  0  0  0  0  0
6   ...    0  0  0  0  0  0  0  0  0  0
7   ...    0  0  0  0  0  0  0  0  0  0
8   ...    0  0  0  0  0  0  0  0  0  0
9   ...    0  0  0  0  0  0  0  0  0  0
10  ...    0  0  0  0  0  0  0  0  0  0
11  ...    0  0  0  0  0  0  0  0  0  0

[12 rows x 158 columns]

In [4]:
# This is called multi index.  See documentation: https://pandas.pydata.org/docs/user_guide/advanced.html
df.columns

MultiIndex([('Fiscal Year  /  Fiscal Week',         'Need State'),
            (         'Unnamed: 1_level_0', 'Unnamed: 1_level_1'),
            (                       '2021',                  '1'),
            (                       '2021',                  '2'),
            (                       '2021',                  '3'),
            (                       '2021',                  '4'),
            (                       '2021',                  '5'),
            (                       '2021',                  '6'),
            (                       '2021',                  '7'),
            (                       '2021',                  '8'),
            ...
            (                       '2023',                 '43'),
            (                       '2023',                 '44'),
            (                       '2023',                 '45'),
            (                       '2023',                 '46'),
            (                       '2023',                 '47'),
            (                       '2023',                 '48'),
            (                       '2023',                 '49'),
            (                       '2023',                 '50'),
            (                       '2023',                 '51'),
            (                       '2023',                 '52')],
           length=158)

In [5]:
# Instead of having numbers in row index, I am going to set customized index levels
df = df.set_index([('Fiscal Year  /  Fiscal Week', 'Need State'), ('Unnamed: 1_level_0', 'Unnamed: 1_level_1')])

In [6]:
# Swapping Rows <-> Columns
df = df.T

In [7]:
# Let's take a look..getting a bit more organized now.
df

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 1                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1445929.50        3667244.25
     2                                          1615275.00        3622755.00
     3                                          1389862.50        3573918.75
     4                                          1111251.00        3528955.50
     5                                          1040040.75        3538705.50
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 2                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          2405549.25        2784957.75
     2                                          2256024.75        2885244.00
     3                                          2183392.50        2834505.00
     4                                          2095967.25        2806603.50
     5                                          2057765.25        2907480.75
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 3                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1618319.25        3838764.00
     2                                          1780801.50        3921396.00
     3                                          1665248.25        3816876.75
     4                                          1928427.00        3752643.75
     5                                          2176682.25        3815256.00
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 4                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1271980.50        1893348.00
     2                                          1625886.75        1880787.75
     3                                          1413519.00        1885237.50
     4                                          1116680.25        1901020.50
     5                                          1160288.25        1926643.50
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 5                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                           601577.25        1055337.75
     2                                           601776.75        1049389.50
     3                                           670983.00        1050538.50
     4                                           624003.00        1042530.00
     5                                           602572.50        1041183.75
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 6
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1708055.25        2678521.50
     2                                          2044693.50        2697240.00
     3                                          1730494.50        2782791.75
     4                                          1720944.00        2761587.75
     5                                          1670751.00        2876609.25
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

[156 rows x 12 columns]

In [8]:
# Can you see what I did so far?
df

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 1                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1445929.50        3667244.25
     2                                          1615275.00        3622755.00
     3                                          1389862.50        3573918.75
     4                                          1111251.00        3528955.50
     5                                          1040040.75        3538705.50
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 2                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          2405549.25        2784957.75
     2                                          2256024.75        2885244.00
     3                                          2183392.50        2834505.00
     4                                          2095967.25        2806603.50
     5                                          2057765.25        2907480.75
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 3                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1618319.25        3838764.00
     2                                          1780801.50        3921396.00
     3                                          1665248.25        3816876.75
     4                                          1928427.00        3752643.75
     5                                          2176682.25        3815256.00
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 4                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1271980.50        1893348.00
     2                                          1625886.75        1880787.75
     3                                          1413519.00        1885237.50
     4                                          1116680.25        1901020.50
     5                                          1160288.25        1926643.50
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 5                    \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                           601577.25        1055337.75
     2                                           601776.75        1049389.50
     3                                           670983.00        1050538.50
     4                                           624003.00        1042530.00
     5                                           602572.50        1041183.75
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

('Fiscal Year  /  Fiscal Week', 'Need State') Need State 6
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')     Dc Amount Store Amt On Hand
2021 1                                          1708055.25        2678521.50
     2                                          2044693.50        2697240.00
     3                                          1730494.50        2782791.75
     4                                          1720944.00        2761587.75
     5                                          1670751.00        2876609.25
...                                                    ...               ...
2023 48                                               0.00              0.00
     49                                               0.00              0.00
     50                                               0.00              0.00
     51                                               0.00              0.00
     52                                               0.00              0.00

[156 rows x 12 columns]

In [9]:
# Now I will reset the index so it will go back to numbers as row index
df= df.reset_index()

In [10]:
df

('Fiscal Year  /  Fiscal Week', 'Need State') level_0 level_1 Need State 1  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')                     Dc Amount
0                                                2021       1   1445929.50
1                                                2021       2   1615275.00
2                                                2021       3   1389862.50
3                                                2021       4   1111251.00
4                                                2021       5   1040040.75
..                                                ...     ...          ...
151                                              2023      48         0.00
152                                              2023      49         0.00
153                                              2023      50         0.00
154                                              2023      51         0.00
155                                              2023      52         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 2  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3667244.25   2405549.25
1                                                    3622755.00   2256024.75
2                                                    3573918.75   2183392.50
3                                                    3528955.50   2095967.25
4                                                    3538705.50   2057765.25
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 3  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    2784957.75   1618319.25
1                                                    2885244.00   1780801.50
2                                                    2834505.00   1665248.25
3                                                    2806603.50   1928427.00
4                                                    2907480.75   2176682.25
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 4  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3838764.00   1271980.50
1                                                    3921396.00   1625886.75
2                                                    3816876.75   1413519.00
3                                                    3752643.75   1116680.25
4                                                    3815256.00   1160288.25
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 5  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1893348.00    601577.25
1                                                    1880787.75    601776.75
2                                                    1885237.50    670983.00
3                                                    1901020.50    624003.00
4                                                    1926643.50    602572.50
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 6  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1055337.75   1708055.25
1                                                    1049389.50   2044693.50
2                                                    1050538.50   1730494.50
3                                                    1042530.00   1720944.00
4                                                    1041183.75   1670751.00
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand
0                                                    2678521.50
1                                                    2697240.00
2                                                    2782791.75
3                                                    2761587.75
4                                                    2876609.25
..                                                          ...
151                                                        0.00
152                                                        0.00
153                                                        0.00
154                                                        0.00
155                                                        0.00

[156 rows x 14 columns]

In [11]:
# Let's rename the columns
df = df.rename(columns={'level_0': 'Year', 'level_1': 'Week'})

In [12]:
df

('Fiscal Year  /  Fiscal Week', 'Need State')  Year Week Need State 1  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')                Dc Amount
0                                              2021    1   1445929.50
1                                              2021    2   1615275.00
2                                              2021    3   1389862.50
3                                              2021    4   1111251.00
4                                              2021    5   1040040.75
..                                              ...  ...          ...
151                                            2023   48         0.00
152                                            2023   49         0.00
153                                            2023   50         0.00
154                                            2023   51         0.00
155                                            2023   52         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 2  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3667244.25   2405549.25
1                                                    3622755.00   2256024.75
2                                                    3573918.75   2183392.50
3                                                    3528955.50   2095967.25
4                                                    3538705.50   2057765.25
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 3  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    2784957.75   1618319.25
1                                                    2885244.00   1780801.50
2                                                    2834505.00   1665248.25
3                                                    2806603.50   1928427.00
4                                                    2907480.75   2176682.25
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 4  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3838764.00   1271980.50
1                                                    3921396.00   1625886.75
2                                                    3816876.75   1413519.00
3                                                    3752643.75   1116680.25
4                                                    3815256.00   1160288.25
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 5  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1893348.00    601577.25
1                                                    1880787.75    601776.75
2                                                    1885237.50    670983.00
3                                                    1901020.50    624003.00
4                                                    1926643.50    602572.50
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 6  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1055337.75   1708055.25
1                                                    1049389.50   2044693.50
2                                                    1050538.50   1730494.50
3                                                    1042530.00   1720944.00
4                                                    1041183.75   1670751.00
..                                                          ...          ...
151                                                        0.00         0.00
152                                                        0.00         0.00
153                                                        0.00         0.00
154                                                        0.00         0.00
155                                                        0.00         0.00

('Fiscal Year  /  Fiscal Week', 'Need State')
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand
0                                                    2678521.50
1                                                    2697240.00
2                                                    2782791.75
3                                                    2761587.75
4                                                    2876609.25
..                                                          ...
151                                                        0.00
152                                                        0.00
153                                                        0.00
154                                                        0.00
155                                                        0.00

[156 rows x 14 columns]

In [13]:
# Convert 0 in any columns to NaA
df[df == 0] = pd.NA

In [14]:
df

('Fiscal Year  /  Fiscal Week', 'Need State')  Year Week Need State 1  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')                Dc Amount
0                                              2021    1   1445929.50
1                                              2021    2   1615275.00
2                                              2021    3   1389862.50
3                                              2021    4   1111251.00
4                                              2021    5   1040040.75
..                                              ...  ...          ...
151                                            2023   48          NaN
152                                            2023   49          NaN
153                                            2023   50          NaN
154                                            2023   51          NaN
155                                            2023   52          NaN

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 2  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3667244.25   2405549.25
1                                                    3622755.00   2256024.75
2                                                    3573918.75   2183392.50
3                                                    3528955.50   2095967.25
4                                                    3538705.50   2057765.25
..                                                          ...          ...
151                                                         NaN          NaN
152                                                         NaN          NaN
153                                                         NaN          NaN
154                                                         NaN          NaN
155                                                         NaN          NaN

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 3  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    2784957.75   1618319.25
1                                                    2885244.00   1780801.50
2                                                    2834505.00   1665248.25
3                                                    2806603.50   1928427.00
4                                                    2907480.75   2176682.25
..                                                          ...          ...
151                                                         NaN          NaN
152                                                         NaN          NaN
153                                                         NaN          NaN
154                                                         NaN          NaN
155                                                         NaN          NaN

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 4  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3838764.00   1271980.50
1                                                    3921396.00   1625886.75
2                                                    3816876.75   1413519.00
3                                                    3752643.75   1116680.25
4                                                    3815256.00   1160288.25
..                                                          ...          ...
151                                                         NaN          NaN
152                                                         NaN          NaN
153                                                         NaN          NaN
154                                                         NaN          NaN
155                                                         NaN          NaN

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 5  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1893348.00    601577.25
1                                                    1880787.75    601776.75
2                                                    1885237.50    670983.00
3                                                    1901020.50    624003.00
4                                                    1926643.50    602572.50
..                                                          ...          ...
151                                                         NaN          NaN
152                                                         NaN          NaN
153                                                         NaN          NaN
154                                                         NaN          NaN
155                                                         NaN          NaN

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 6  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1055337.75   1708055.25
1                                                    1049389.50   2044693.50
2                                                    1050538.50   1730494.50
3                                                    1042530.00   1720944.00
4                                                    1041183.75   1670751.00
..                                                          ...          ...
151                                                         NaN          NaN
152                                                         NaN          NaN
153                                                         NaN          NaN
154                                                         NaN          NaN
155                                                         NaN          NaN

('Fiscal Year  /  Fiscal Week', 'Need State')
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand
0                                                    2678521.50
1                                                    2697240.00
2                                                    2782791.75
3                                                    2761587.75
4                                                    2876609.25
..                                                          ...
151                                                         NaN
152                                                         NaN
153                                                         NaN
154                                                         NaN
155                                                         NaN

[156 rows x 14 columns]

In [15]:
# Drop any column that has NaN
df.dropna(inplace=True)

In [16]:
df

('Fiscal Year  /  Fiscal Week', 'Need State')  Year Week Need State 1  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')                Dc Amount
0                                              2021    1   1445929.50
1                                              2021    2   1615275.00
2                                              2021    3   1389862.50
3                                              2021    4   1111251.00
4                                              2021    5   1040040.75
..                                              ...  ...          ...
140                                            2023   37   2185227.00
141                                            2023   38   2169018.00
142                                            2023   39   2101831.50
143                                            2023   40   2196104.25
144                                            2023   41   2191140.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 2  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3667244.25   2405549.25
1                                                    3622755.00   2256024.75
2                                                    3573918.75   2183392.50
3                                                    3528955.50   2095967.25
4                                                    3538705.50   2057765.25
..                                                          ...          ...
140                                                  6104029.50   1609150.50
141                                                  6068694.00   2515116.75
142                                                  5972203.50   2156817.00
143                                                  5952818.25    995430.75
144                                                  5903348.25   1084670.25

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 3  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    2784957.75   1618319.25
1                                                    2885244.00   1780801.50
2                                                    2834505.00   1665248.25
3                                                    2806603.50   1928427.00
4                                                    2907480.75   2176682.25
..                                                          ...          ...
140                                                  3322784.25   1328611.50
141                                                  3394207.50   1380191.25
142                                                  3331006.50   1110234.75
143                                                  3338073.75   1053929.25
144                                                  4117591.50   1180187.25

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 4  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3838764.00   1271980.50
1                                                    3921396.00   1625886.75
2                                                    3816876.75   1413519.00
3                                                    3752643.75   1116680.25
4                                                    3815256.00   1160288.25
..                                                          ...          ...
140                                                  4671575.25    755162.25
141                                                  4693923.75    817476.75
142                                                  4701059.25    750872.25
143                                                  4648060.50    681066.00
144                                                  4954347.00    737967.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 5  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1893348.00    601577.25
1                                                    1880787.75    601776.75
2                                                    1885237.50    670983.00
3                                                    1901020.50    624003.00
4                                                    1926643.50    602572.50
..                                                          ...          ...
140                                                  1997831.25   1501643.25
141                                                  2023952.25   1476577.50
142                                                  1918959.75   1426885.50
143                                                  1958751.00   1386183.75
144                                                  1948076.25   1352883.75

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 6  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1055337.75   1708055.25
1                                                    1049389.50   2044693.50
2                                                    1050538.50   1730494.50
3                                                    1042530.00   1720944.00
4                                                    1041183.75   1670751.00
..                                                          ...          ...
140                                                  1794207.00    724006.50
141                                                  1657944.00    699891.00
142                                                  1442409.75    631127.25
143                                                  1373699.25    787549.50
144                                                  1329480.75    756188.25

('Fiscal Year  /  Fiscal Week', 'Need State')
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand
0                                                    2678521.50
1                                                    2697240.00
2                                                    2782791.75
3                                                    2761587.75
4                                                    2876609.25
..                                                          ...
140                                                  3502062.75
141                                                  3572568.75
142                                                  3481461.00
143                                                  3506608.50
144                                                  3502093.50

[145 rows x 14 columns]

('Fiscal Year  /  Fiscal Week', 'Need State')  Year Week Need State 1  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')                Dc Amount
0                                              2021    1   1445929.50
1                                              2021    2   1615275.00
2                                              2021    3   1389862.50
3                                              2021    4   1111251.00
4                                              2021    5   1040040.75
..                                              ...  ...          ...
140                                            2023   37   2185227.00
141                                            2023   38   2169018.00
142                                            2023   39   2101831.50
143                                            2023   40   2196104.25
144                                            2023   41   2191140.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 2  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3667244.25   2405549.25
1                                                    3622755.00   2256024.75
2                                                    3573918.75   2183392.50
3                                                    3528955.50   2095967.25
4                                                    3538705.50   2057765.25
..                                                          ...          ...
140                                                  6104029.50   1609150.50
141                                                  6068694.00   2515116.75
142                                                  5972203.50   2156817.00
143                                                  5952818.25    995430.75
144                                                  5903348.25   1084670.25

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 3  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    2784957.75   1618319.25
1                                                    2885244.00   1780801.50
2                                                    2834505.00   1665248.25
3                                                    2806603.50   1928427.00
4                                                    2907480.75   2176682.25
..                                                          ...          ...
140                                                  3322784.25   1328611.50
141                                                  3394207.50   1380191.25
142                                                  3331006.50   1110234.75
143                                                  3338073.75   1053929.25
144                                                  4117591.50   1180187.25

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 4  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    3838764.00   1271980.50
1                                                    3921396.00   1625886.75
2                                                    3816876.75   1413519.00
3                                                    3752643.75   1116680.25
4                                                    3815256.00   1160288.25
..                                                          ...          ...
140                                                  4671575.25    755162.25
141                                                  4693923.75    817476.75
142                                                  4701059.25    750872.25
143                                                  4648060.50    681066.00
144                                                  4954347.00    737967.00

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 5  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1893348.00    601577.25
1                                                    1880787.75    601776.75
2                                                    1885237.50    670983.00
3                                                    1901020.50    624003.00
4                                                    1926643.50    602572.50
..                                                          ...          ...
140                                                  1997831.25   1501643.25
141                                                  2023952.25   1476577.50
142                                                  1918959.75   1426885.50
143                                                  1958751.00   1386183.75
144                                                  1948076.25   1352883.75

('Fiscal Year  /  Fiscal Week', 'Need State')                   Need State 6  \
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand    Dc Amount
0                                                    1055337.75   1708055.25
1                                                    1049389.50   2044693.50
2                                                    1050538.50   1730494.50
3                                                    1042530.00   1720944.00
4                                                    1041183.75   1670751.00
..                                                          ...          ...
140                                                  1794207.00    724006.50
141                                                  1657944.00    699891.00
142                                                  1442409.75    631127.25
143                                                  1373699.25    787549.50
144                                                  1329480.75    756188.25

('Fiscal Year  /  Fiscal Week', 'Need State')
('Unnamed: 1_level_0', 'Unnamed: 1_level_1')  Store Amt On Hand
0                                                    2678521.50
1                                                    2697240.00
2                                                    2782791.75
3                                                    2761587.75
4                                                    2876609.25
..                                                          ...
140                                                  3502062.75
141                                                  3572568.75
142                                                  3481461.00
143                                                  3506608.50
144                                                  3502093.50

[145 rows x 14 columns]